<div class="footer">
  <h6>
    Made by <a href="https://discord.gg/Y7RrBnQCpE" target="_blank">Merly Team</a>
    with <i class="fas fa-heart" style="color: red"></i> and
    <i class="fas fa-coffee" style="color: #6f4e37"></i>
  </h6>
</div>